<body class="homebody">
<header>
    <nav>


        <a href="/home">Home</a>
        <a href="/logout">Logout</a>

    </nav>
</header>

<div class="createeventbox">
    <div class="row">


        <form action="/createevent" method="post">
            <!--<label class="btn-uploadevent">-->
                <!--<input type="file" name="fileupload" >-->
                <!--<button class="btn">Picture</button>-->
            <!--</label><br><br>-->
            Event Name: <input type="text" name="event_name" placeholder="Event Name" required><br><br>
            Start Date: <input type="date" name="start_date" placeholder="Event Start Date" required><br><br>
            End Date: <input type="date" name="end_date" placeholder="Event End Date" required><br><br>
            Start Time: <input type="time" name="start_time" placeholder="Event Start Time" required><br><br>
            End Time: <input type="time" name="end_time" placeholder="Event End Time" required><br><br>
            Description: <input type="text" name="description" placeholder="Event Description" required><br><br>
            Location: <input type="text" name="location" placeholder="Your Event's Location" required><br><br>
            <input type="submit" value="Create Your Event!"></input>
        </form>
    </div>

</div>

</body>