<body class="signonbody">

<header>
    <h1 class="headername">RSVP</h1>
    <nav>


        <a href="/home">Home</a>
        <a href="/logout">Logout</a>


    </nav>
</header>

<br><br>

<div class="homebuttonbox">

    <div class="row">

        <div class="twelve columns">
            <br>

            <FORM>
                <input type="button" Value="Browse Events" Onclick="window.location.href='/home'">
                <input type="button" Value="Create Event" Onclick="window.location.href='/createevent'">
                <input type="button" Value="Event Attendance" Onclick="window.location.href='/eventattendance'">
                <input type="button" Value="My Event Attendance" Onclick="window.location.href='/myeventattendance'">
            </FORM>

        </div>
    </div>
</div>


<br><br><br><br><br><br><br><br><br>

<div class="createeventbox">
    <div class="row">



    <form action="/createevent" method="post">

        Event Photo:<br>
        <input id="file" type="file"/>
        <input type="hidden" name="image" value=""><br><br>
        Event Name: <input type="text" name="event_name" placeholder="Event Name" required><br><br>
        Start Date: <input type="date" name="start_date" placeholder="Event Start Date" required><br><br>
        End Date: <input type="date" name="end_date" placeholder="Event End Date" required><br><br>
        Start Time: <input type="time" name="start_time" placeholder="Event Start Time" required><br><br>
        End Time: <input type="time" name="end_time" placeholder="Event End Time" required><br><br>
        Description: <input type="text" name="description" placeholder="Event Description" required><br><br>
        Location: <input type="text" name="location" placeholder="Your Event's Location" required><br><br>
        <input type="submit" value="Create Your Event!"></input>
    </form>
</div>

</div>


<script>
    function getBase64(file) {
        var reader = new FileReader();
        console.log(file);
        reader.readAsDataURL(file);
        reader.onload = function () {
            console.log(reader.result);
         hiddenFile[0].value = reader.result;
            console.log(hiddenFile[0].value)


            return(reader.result);
        };
        reader.onerror = function (error) {
            console.log('Error: ', error);
        };
    }


        var file = $('input[type="file"]')
        var hiddenFile = $('input[type="hidden"]');

        file.on('change', function () {
            console.log('this is clicking')
            var fileConvert = file[0].files[0]
            console.log(fileConvert)
            getBase64(fileConvert)
        });

</script>





</body>