<body class="homebody">
<header>
    <nav>


        <a href="/home">Home</a>
        <a href="/logout">Logout</a>

    </nav>
</header>

<br><br><br>
<br>

<div class="homebuttonbox">
    <div class="row">
        <div class="twelve columns">

            <button><a href="/createevent">Create Another Event</a></button>
            <!--<button><a href="/eventattendance">Event Attendance</button>-->

        </div>
    </div>
</div>

</body>


<br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>

<p>
{{#each event_attendance}}

    <article>
    {{this.evt_id}}
    {{this.user_id}}
    {{this.status}}
    {{this.comments}}

    </article>
{{/each}}

</p>