<body class="signonbody">

<header>
    <h1 class="headername">RSVP</h1>
    <nav>

        <a href="#">Welcome, {{name}}</a>
        <a href="/home">Home</a>
        <a href="/logout">Logout</a>


    </nav>
</header>

<br><br>

<div class="homebuttonbox">

    <div class="row">

        <div class="twelve columns">
            <br>

            <FORM>
                <input type="button" Value="Browse Events" Onclick="window.location.href='/home'">
                <input type="button" Value="Create Event" Onclick="window.location.href='/createevent'">
                <input type="button" Value="Event Attendance" Onclick="window.location.href='/eventattendance'">
                <input type="button" Value="My Event Attendance" Onclick="window.location.href='/myeventattendance'">
            </FORM>

        </div>
    </div>
</div>


<br><br><br><br><br><br><br><br><br>

<div class="eventbox">
<div class="row">

<div class="twelve columns">
{{#each event_attendance}}

        <article>
            <b>{{this.name}}</b> has RSVP'd to <b>{{this.event_name}}</b>
            (They left this comment: {{this.comments}})

        </article>
{{/each}}

</div>
</div>
</div>


<script src="/javascripts/app.js"></script>
