<div>

<h1>Welcome to RSVP!</h1>

<form action="/create" method="post">
    <input type="text" name="name" placeholder="name" required> <br><br>
    <input type="text" name="email" placeholder="email" required> <br><br>
    <input type="password" name="password_hash" placeholder="password" required><br><br>
    <input type="submit" value="Sign Up!"></input>
    <button onclick="window.location='/login';">Returning User</button>
</form>

</div>