<h1>Welcome to RSVP, {{name}}! </h1> <br>

<button onclick="window.location='/logout';">Logout</button>

<div>

    <p>RSVP is your place to get your party started!</p>

    <form action="/createevent" method="post">
        <input type="text" name="event_name" placeholder="Event Name" required> <br><br>
        <input type="date" name="start_date" placeholder="Event Start Date" required><br><br>
        <input type="date" name="end_date" placeholder="Event End Date" required><br><br>
        <input type="time" name="start_time" placeholder="Event Start Time" required><br><br>
        <input type="time" name="end_time" placeholder="Event End Time" required><br><br>
        <input type="text" name="description" placeholder="Event Description" required> <br><br>
        <input type="text" name="location" placeholder="Your Event's Location" required> <br><br>
        <input type="submit" value="Create Your Event!"></input>
    </form>
</div>





