<body>


    <div class="row" id="box">
    <div class="twelve columns">
        <br>
        <br>
        <br>
        <br>
        <h1 class="name">RSVP</h1>

            <p class="tagline">We will see you there</p>
            <button class="registerbutton"><a class="homelinks" href="/register">Register</button><br>
            <button class="registerbutton"><a class="homelinks" href="/login">Login</button>


        <!--<article class="explanations">-->
        <!--<div class="circleBase type1"></div>-->

        <!--<div class="circleBase type2"></div>-->

        <!--<div class="circleBase type3"></div>-->
        <!--</article>-->

            </div>
    </div>

<video poster="" id="bgvid" playsinline autoplay muted loop>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->

    <!--<source src="https://fpdl.vimeocdn.com/vimeo-prod-skyfire-std-us/01/3267/6/166339049/530016355.mp4?token=58437555_0xe6b0e5defe1353409943de9c6c8ab2aa6082f313" type="video/mp4">-->


    <!--<source src="https://fpdl.vimeocdn.com/vimeo-prod-skyfire-std-us/01/2143/5/135715695/401733434.mp4?token=5843774c_0xce2853684ec8b6a124aec93221c1eac3d8fe7851" type="video/mp4">-->
    <source src="https://fpdl.vimeocdn.com/vimeo-prod-skyfire-std-us/01/3524/5/142621140/428354872.mp4?token=5843780a_0xe63e275f2bd903c275805c56bc4ac63d9f069a53" type="video/mp4">


</video>

</body>

<!--class="homebody"-->