<body class="homebody">
<button class="loginbutton"><a class="homelinks" href="/login">Login</button>

    <div class="row" id="box">
    <div class="twelve columns">

        <h1 class="name">RSVP</h1>

            <p class="tagline">We will see you there</p>
            <button class="registerbutton"><a class="homelinks" href="/register">Register</button><br><br>


        <!--<article class="explanations">-->
        <!--<div class="circleBase type1"></div>-->

        <!--<div class="circleBase type2"></div>-->

        <!--<div class="circleBase type3"></div>-->
        <!--</article>-->

            </div>
    </div>



</body>