<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <container>
    {{{body}}}
  </container>
  </body>
</html>
