<body class="signonbody">

<div class="form">

    <div class="row">

    <h1>Welcome back to RSVP!</h1>

        <div class="twelve columns">

        <form action="/login/verify" method="post">
            <input type="text" name="email" placeholder="email" required> <br><br>
            <input type="password" name="password_hash" placeholder="password" required><br><br>
            <input type="submit" class="coloredbutton"></input>
        </form>

        </div>

    </div>

</div>



