<div>

    <h1>Welcome back to RSVP!</h1>

    <form action="/login/verify" method="post">
        <input type="text" name="email" placeholder="email" required> <br><br>
        <input type="password" name="password_hash" placeholder="password" required><br><br>
    </form>
    <button onclick="window.location='/home';">SIGN IN!</button>

</div>

