<body class="signonbody">

<header>
    <h1 class="headername">RSVP</h1>
    <nav>

        <!--<a href="#">Welcome, {{name}}</a>-->
        <a href="/home">Home</a>
        <a href="/logout">Logout</a>


    </nav>
</header>
<br><br>

<div class="homebuttonbox">

    <div class="row">

        <div class="twelve columns">
            <br>

            <FORM>
                <input type="button" Value="Browse Events" Onclick="window.location.href='/home'">
                <input type="button" Value="Create Event" Onclick="window.location.href='/createevent'">
                <input type="button" Value="Event Attendance" Onclick="window.location.href='/eventattendance'">
                <input type="button" Value="My Event Attendance" Onclick="window.location.href='/myeventattendance'">
            </FORM>

        </div>
    </div>
</div>


<br><br><br><br><br><br><br><br><br>

<div class="eventbox">
    <div class="row">



        <div class="twelve columns">
            <b>You are RSVP'd for the following events: <br><br></b>
<div id='message-container'></div>


        </div>
    </div>
</div>
</body>


<script src="/javascripts/app.js"></script>