<body class="signonbody">

<div class="form">
    <div class="row">


    <h1>Welcome to RSVP!</h1>
    <p>Sorry that email address is already registered.</p>
        <div class="twelve columns">
    <form action="/register/verify" method="post">
        <input type="text" name="name" placeholder="name" required> <br><br>
        <input type="text" name="email" placeholder="email" required> <br><br>
        <input type="password" name="password_hash" placeholder="password" required><br><br>
        <input type="submit" value="Sign Up!" class="coloredbutton"></input>
        <button class="coloredbutton"><a href="/login" class="homelinks">Returning User</button><br><br>
    </form>


</div>
</div>
</div>
