<body class="signonbody">


<div class="registertext">
<h1>Welcome to RSVP</h1>

</div>


<div class="registerform">
    <!--<h1>Welcome to RSVP</h1>-->

    <div class="row">



        <div class="twelve columns">

            <form action="/register/verify" method="post">
                <label class="btn-upload">
                    <input type="file" name="fileupload" >
                    <button class="btn"></button>
                </label><br><br>
                <input type="text" name="name" placeholder="Name" required> <br><br>
                <input type="text" name="email" placeholder="Email" required> <br><br>
                <input type="password" name="password_hash" placeholder="Password" required><br><br>
                <input type="submit" value="Sign Up!" class="coloredbutton"></input>
            </form>

        </div>
    </div>

</div>
