.homebody {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #5C258D; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #5C258D , #4389A2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #5C258D , #4389A2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.signonbody {
 background: #F9F9F9;
}

.form {
    display: inline-block;
    text-align: center;
    background: white;
    padding: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    border-color: #EFEFEE;
    border-style: solid;
    border-width: 2px;

}

.homelinks {
  color: white;
  text-decoration: none;
 }

a {
    text-decoration: none;
    color: black;

}


.tagline {
  color: white;
  text-align:center;
  font-size: 25px;
  margin-top: -20px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;

}


.name {
  color:white;
  font-family: 'Pacifico', cursive;
  font-size: 75px;
  text-align:center;
  margin-top: 100px;
}

.registerbutton {
   margin-left:auto;
   margin-right:auto;
   display:block;


 }

.loginbutton {
  margin-left:auto;
  margin-right:auto;
  display:block;
  float:right;
  /*margin-top: -500px;*/

}

.coloredbutton {
    background: #5C258D; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5C258D , #4389A2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5C258D , #4389A2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */

}

.events {
    border: solid black;
}

header { color: #333333; line-height: 108px; }


header nav {
    font-size: 18px; float: right;
    margin-right: 5%;
}

header nav a {
    color: #333; margin: 0 5px;
    text-decoration: none;
}

.homebuttonbox {
    display: inline-block;
    /*text-align: center;*/
    background: rgba(255,255,255,.9);
    padding: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    border-color: #EFEFEE;
    border-style: solid;
    border-width: 2px;
    width: 70%;

}




.createeventbox {
    display: inline-block;
    /*text-align: center;*/
    background: rgba(255,255,255,.9);
    padding: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    border-color: #EFEFEE;
    border-style: solid;
    border-width: 2px;
    width: 70%;

}

#commentbox {
    width: 50%;
    height: 100px;
}